* {
    margin: 0;
    padding: 0;
    font-family: tahoma, sans-serif;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }


html {
  height: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-size: 100%;
  background-position: center;
}

header {
  margin: 2em 0;
  text-align: center;
}
h1, h2, h3 {
  margin: 0;
  font-family: bookman;
  text-rendering: optimizeLegibility;
  text-align: center;
}
section {
  margin: 1.5em auto;
  width: 400px;
}

#quote {
  height: 300px;
  width: 500px;
  text-shadow: 1px 1px #1C2833;
  font-family: "Times New Roman";
  color: red;
  font-size: 35px;
}

  /*For top left icon*/
  .topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 20px;
    width: 180px;
    height: 80px;
  }
.topright {
    position: absolute;
    top: 8px;
    right: 5px;
    font-size: 20px;
    width: 180px;
    height: 80px;
  text-align: right;
}
.fa-github::before {
    content: "\f09b";
}
/* Button used to open the chat form - fixed at the bottom of the page */
  .open-button {
  display: block;
  position: fixed;
  bottom: 14px;
  right: 20px;
  -webkit-appearance: button;
  -moz-appearance: button;  
  border-radius: 40px;
  background-color: #ee0606;
  border: none;
  color: #FFFFFF;
  text-align: left;
  font-size: 18px;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.open-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.open-button span: after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 30px;
}
.button:hover span:after {
  opacity: 2;
  right: 0;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 400px;
  height: 600px;
  z-index: 1;
  box-shadow: 0 0 10px 5px #2f2f2f;
}
/* Set a style for the submit/send button */
.form-container {
  width: 100%;
  max-width: 500px;
  height: 600px;
  padding: 10px 0 10px 0;
  background: #d52e2e;
 
/*  border-radius: 15px 15px 0 0; */

}

.form-container h1 {
  height: 40px;
  color: #FFF;
  margin: 5px;
}
.form-container .response {
  width: 100%;
  height: 450px;
  padding: 5px;
  margin-bottom: 5px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-image: url('images/chatBackground.jpg');
  /*display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-bottom: 10px;  */
}
.form-container .response::-webkit-scrollbar {
  width: 10px;
}

.form-container .response::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0,0,0,.1);
}

.bot  {
  width: 80%;
  float: right;
  align-items: flex-start;
  margin-bottom: 10px;
  order: -1;
  padding: 15px;
  color: #FFF;
  background: #383838; /* #B561F5;  */
  border-radius: 10px 10px 0 15px; 
}

.user {
  width: 80%;
  float: left;
  align-items: flex-start;
  margin-bottom: 10px;
  padding: 15px;
  color: #FFF;
  background: #878787;  /* #DDC3EE;  */
  border-radius: 10px 10px 15px 0;
 
}

/*Inpur area*/
.form-container .input {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  margin: 1px;
  padding: 5px;
}
#rec {
  width: 70px;
  height: 40px;
  border-radius: 15px;
  background-color: #e2fb16;

}
.form-container button .fa {
  margin: 1px;
  font-family: Arial, Helvetica, sans-serif;;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  color: black;
}

.form-container button .fa:hover {
  transform: scale(.90);
}

.form-container button .fa:active {
  filter: brightness(.8);
}


.form-container  .btn {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: black;
  color: white;
  padding: 3px;
  cursor: pointer;
  border: 1px solid #ff0040;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  background-color: #fdfed7;
  color: black;
  opacity: 1;
  
}

/*CSS for chatbot */
{box-sizing: border-box;}
