* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


html {
  height: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
  background-size: 100%;
  background-position: center;
}

header {
  margin: 2em 0;
  text-align: center;
}
h1, h2, h3 {
  margin: 0;
  text-rendering: optimizeLegibility;
  text-align: center;
}
h1 {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 2em;
}
h2 {
  font-weight: 300;
  margin-top: 0.5em;
}
section {
  margin: 1.5em auto;
  width: 400px;
}
/*
#convo {
  height: 300px;
  width: 500px;
  text-shadow: 1px 1px #1C2833;
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-size: 20px;
}
*/

  /*For top left icon*/
  .topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 20px;
    width: 180px;
    height: 80px;
  }
.topright {
    position: absolute;
    top: 8px;
    right: 5px;
    font-size: 20px;
    width: 180px;
    height: 80px;
  text-align: right;
}
.fa-github::before {
    content: "\f09b";
}
/* Button used to open the chat form - fixed at the bottom of the page */
  .open-button {
  display: block;
  position: fixed;
  bottom: 14px;
  left: 20px;
  -webkit-appearance: button;
  -moz-appearance: button;  
 border-radius: 12px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: left;
  font-size: 18px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.open-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.open-button span: after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 30px;
}
.button:hover span:after {
  opacity: 2;
  right: 0;
}
.imgg {
  width: 500px;
  height: 300px;
}
button .fa {
  font-family: Arial, Helvetica, sans-serif;
  width: 40px;
  font-size: 20px;
  line-height: 20px;
  text-align: right;
  margin: 0;
}
button:hover {
  transform: scale(.90);
}
button:active {
  filter: brightness(.8);
}
button:focus {
  outline: 0;
}
/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  top: 40;
  left: 15px;
  border: 3px solid #1c0606;
  z-index: 1;
}

/*Inpur area*/
.input {
  width: 80%;
  height: 30px;
  border-radius: 12px;
  margin: 3px;
  border-bottom: 4px;
}
/* Full-width textarea */
textarea {
  width: 100%;
  padding: 20px;
  margin: 5px 1 12px 1;
  background:  #eff5f5;
  resize: none;
  height: 400px;
} 
/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: 3px;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
.form-container .cancel {
  position: fixed;
  bottom: 6px;
  right: 120px;
  width: 200px;
  border: 3px;
  border-radius: 12px;
}
/* Add a red background color to the cancel button */
/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/*CSS for chatbot */
{box-sizing: border-box;}
