* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


html {
  height: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
  background-size: 100%;
  background-position: center;
}

header {
  margin: 2em 0;
  text-align: center;
}
h1, h2, h3 {
  margin: 0;
  text-rendering: optimizeLegibility;
  text-align: center;
}
h1 {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 2em;
}
h2 {
  font-weight: 300;
  margin-top: 0.5em;
}
section {
  margin: 1.5em auto;
  width: 400px;
}
/*
#convo {
  height: 300px;
  width: 500px;
  text-shadow: 1px 1px #1C2833;
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-size: 20px;
}
*/

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
    width: 130px;
    height: 60px;
  }
.topright {
    position: absolute;
    top: 8px;
    right: 5px;
    font-size: 20px;
    width: 180px;
    height: 80px;
  text-align: right;
}
#banner {
 /* background-image: url("images/VB2.png");  */
  width: 100%;
  height: 100px;
  border: 2px solid red;
  background-position:center;
  background-attachment: fixed;
}
/*
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 1.3em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 10px;
}
*/
.fa-github::before {
    content: "\f09b";
}

/*CSS for chatbot */
{box-sizing: border-box;}

